<div class="form-horizontal" role="form">
  <%= form_for(b = current_user.bookmarks.new,remote: 'true') do |f| %>
    <%#= b.errors %>
    <div class="form-group">
      <%= f.label :"Site_name", :class => "col-sm-3 control-label" %>
      <div class="col-sm-7"><%= f.text_field :title, :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <%= f.label :"URL", :class => "col-sm-3 control-label" %>
      <div class="col-sm-7"><%= f.url_field :url, :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <%= f.label :"Image_URL", :class => "col-sm-3 control-label" %>
      <div class="col-sm-7"><%= f.text_field :image, :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-3">
        <%= f.submit "save", :input_html => {"aria-hidden" => "true"}, :class => "btn btn-primary" %>
      </div>
      <div class="col-sm-2">
        <button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
      </div>
    </div>
  <% end %>
</div>

<!-- sub submit -->

<%#= f.submit "save", :input_html => {"data-dismiss" => "modal", "aria-hidden" => "true"}, :class => "btn btn-primary" %>


<!-- <%#= form_for(@bookmark) do |f| %>
  <%# if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <%# @bookmark.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit %>
  </div>
<%# end %>
 -->